/* ヘッダー */
.header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header ul{
  display: flex;
}

.header li{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
}

.header-img{
 width: 100%;
}

/* topへ戻る */
.scroll-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  background-color: rgb(37, 37, 37);
  opacity: .8;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  color: #FFF;
  outline: none;
}

.scroll-top:hover{
  cursor: pointer;
}


/* 自己紹介 */
h1{
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Abel', sans-serif;
}

.self-img{
  border-radius: 300px;
  width: 200px;
  height: 200px;
}

.main-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.img-intro{
  margin: 8rem 5rem 0 30rem;
}

.intro{
  width: 50%;
  margin-top: 10rem;
  line-height: 3rem;
}

.text-intro{
  text-align: center;
}

.text{
  display: inline-block;
  text-align: left;
  line-height: 2rem;
}

/* SKILLS */
.skill-contents{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
}

.contents-box{
  margin: 30px;
  padding: 3rem 0;
  width: 20%; 
}

/* .contents-box:nth-child{
  margin-right: 0;
} */

a{
  text-decoration: none;
}

/*　ボタン装飾 */
 @import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
* {box-sizing:border-box}
.borderless {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold}
.borderless:before, .borderless:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
.borderless:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
.borderless:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
/* .contents-box{text-align:center;position:relative;margin:auto;} */

.borderless {border-color:rgba(0,0,0,0);color:#999}
.borderless:hover {border-color:#353535;background-color:transparent;color:#353535}
.borderless:before, .borderless:after {border-color:transparent;}
.borderless:hover:before, .borderless:hover:after {width:calc(100% + 12px); height:calc(100% + 12px);border-color:#353535}

.borderless{
  padding: 80px;
}

.balloon-line{
  position: relative;
  width: 300px;
  margin: 0 auto 40px;
  padding: 20px;
  background: #FFF;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
}

.balloon-line:before, .balloon-line:after{
  content: "";
  border: 14px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -14px;
}

.balloon-line:before{
  border-top-color: #ddd;
  bottom: -28px;
}

.balloon-line:after{
  border-top-color: #FFF;
  bottom: -27px;
}

.contents-box2{
  text-align: center;
  padding-top: 5px 0;
}

/* コンタクト */

.form{
  width:50%;
  /* display: block;
  text-align: center;
  justify-content: center; */
  margin: auto;
  margin-top: 80px;
  margin-bottom: 200px;
}

.feedback-input{
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #a3a3a3;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus{
  border: 2px solid #a3a3a3;
}

textarea{
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"]{
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 0;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}