/* ヘッダー */
.header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header ul{
  display: flex;
}

.header li{
  margin-left: 30px;
}

.header-img{
 width: 100%;
}

/* 自己紹介 */
h1{
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
}

.self-img{
  border-radius: 300px;
  width: 200px;
  height: 200px;
}

.main-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.img-intro{
  margin: 8rem 5rem 0 30rem;
}

.intro{
  width: 50%;
  margin-top: 10rem;
  line-height: 3rem;
}

.text-intro{
  text-align: center;
}

.text{
  display: inline-block;
  text-align: left;
  line-height: 2rem;
}
