/* ヘッダー */
.header{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header ul{
  display: flex;
}

.header li{
  margin-left: 3rem;
}

.header-img{
 width: 100%;
}

/* 自己紹介 */
h1{
  font-size: 80px;
  text-align: center;
}

.self-img{
  border-radius: 300px;
  width: 100px;
  height: 100px;
}

.main-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.img-intro{
  width: 35%;
}

.intro{
  width: 60%;
}
